body {
background-color: peachpuff;
}

h1 {
font-family: Garamond;
color: firebrick;
}

h2 {
font-family: Garamond;
color: crimson;
}

p {
color: indianred;
font-family: Garamond;
}

a:link {
color: orangered;
font-weight: bold;
}

table, th, td {
border: 2px solid firebrick;
}
